<h2>Global Statistics</h2>
<p>Total Data Migrations: <%= @statistic.total_migrations %></p>
<p>Total Imported Patients: <%= @statistic.total_imported_patients %></p>
<p>Total Updated Patients: <%= @statistic.total_updates_patients %></p>
<p>Total Failed Patients: <%= @statistic.total_failed_patients %></p>